@model SetorViewModel

<div class="row">
    <div class="col-md-12 form-group">
        <h2>Deseja deletar este item?</h2>
    </div>
</div>

<form method="post" asp-action="Delete" asp-antiforgery="true" asp-controller="Setor">
    
    <vc:botao-default controller-name="Setor" tipo-tela="Deletar"></vc:botao-default>
    <vc:summary />

    <div class="row">
        <div class="col-md-1 form-group">
            <label asp-for="Codigo"></label> @Model.Codigo
        </div>
        <div class="col-md-5 form-group">
            <label asp-for="Nome"></label> @Model.Nome
        </div>
        <div class="col-md-6 form-group">
            <label asp-for="Sigla"></label> @Model.Sigla
        </div>
    </div>
</form>

