@model SetorViewModel

<div class="row">
    <div class="col-md-12 form-group">
        <h2>Atualizar dados do setor</h2>
    </div>
</div>

<form asp-action="Edit" asp-controller="Setor" asp-antiforgery="true" method="post">

    <div class="row">
        <div class="col-md-12 form-group btn-group">
            <button class="btn btn-primary" type="submit">Salvar</button>
            <a class="btn btn-warning" asp-action="Index" asp-controller="Setor">Cancelar</a>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 form-group">
            <label asp-for="Nome"></label>
            <input class="form-control" asp-for="Nome" type="text" />
            <span asp-validation-for="Nome" class="text-danger"></span>
        </div>
        <div class="col-md-6 form-group">
            <label asp-for="Sigla"></label>
            <input class="form-control" asp-for="Sigla" type="text" />
            <span asp-validation-for="Sigla" class="text-danger"></span>
        </div>
    </div>
</form>

